body {
  background:#F9DEC9
}

.login-logo {
  font-family: 'Pacifico', cursive;
  font-style: 20;
}
// .login-subTitle {

// }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #685044;
  
}

.login-logo {
  font-size: 30px;
  margin-top: 40px;
  color: #685044;
}

.login-subTitle {
  font-size: 14px;
  font-style: italic;
  margin: 20px;
  color: #685044;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.dice {
  margin: 40px;
}

#register-button {
  margin: 10px;
  background-color: #AEC5EB;
  border-color: #AEC5EB;
}

#login-button {
  margin: 10px;
  background-color: #AEC5EB;
  border-color: #AEC5EB;
}

#password-input {
  margin:10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(194, 194, 194);
  font-family: 'Karla', sans-serif;
}
#password-input:focus {
  outline: none;
}

#username-input {
  margin:10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(194, 194, 194);
  font-family: 'Karla', sans-serif;
}

#username-input:focus {
  outline: none;
}

.waiting-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #685044;
}

#waiting-room-button {
  border: none;
  height: 30px;
  width: 130px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  background-color: #AEC5EB;
  border-color: #AEC5EB;
  color:whitesmoke;
}

#waiting-room-button:focus {
  outline: none;
}


.logo {
  font-size: 30px;
}

.greeting {
  margin: 40px;
  line-height: 120%;
}

.drop-down {
  padding: 20px;
}
.drop-down select {
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  border: 1px solid rgb(194, 194, 194);
  margin: 10px;
  color: #685044;
}

#register-button {
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  color:whitesmoke;
}

#register-button:focus {
  outline: none;
}

#login-button {
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  color:whitesmoke;
}

#login-button:focus {
  outline: none;
}

#session-room-button {
  border: none;
  height: 30px;
  width: 130px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  background-color: #AEC5EB;
  border-color: #AEC5EB;
  color:whitesmoke;
}

#session-room-button:focus {
  outline: none;
}